.categories__section {
  padding: 0 -10px;
  margin-top: 60px;
}

.categories__section__button.right svg,
.categories__section__button.left svg {
  color: #b8926a;
  font-size: 24px;
  cursor: pointer;
}

.categories__section__buttons {
  display: flex;
  column-gap: 0.7rem;
  width: max-content;
  float: right;
  margin-top: 30px;
  margin-right: 8px;
}
.categories__section .slick-next {
  top: 250px;
  right: 10px;
}
.categories__section .slick-next::before {
  content: "→" !important;
  color: #b8926a;
  font-size: 24px;
}

.categories__section .slick-prev {
  top: 250px;
  left: 95%;
}
.categories__section .slick-prev::before {
  content: "←" !important;
  color: #b8926a;
  font-size: 24px;
}
